@using Microsoft.AspNetCore.Http

@if (Context.Session.GetString("Session_Role") != "employee")
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Tel No</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @switch (Context.Session.GetString("Session_Role"))
        {
            case "admin":
                @foreach (var emp in ViewData["Employee"] as IList<People>)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Role</td>
                        <td>@emp.Tel</td>
                        <td>@emp.Email</td>
                    </tr>
                }
                break;

            case "superadmin":
                 @foreach (var ad in ViewData["Admin"] as IList<People>)
                 {
                        <tr>
                            <td>@ad.Id</td>
                            <td>@ad.Name</td>
                            <td>@ad.Role</td>
                            <td>@ad.Tel</td>
                            <td>@ad.Email</td>
                        </tr>
                 }
                break;

            default:
                break;

        }
        </tbody>
</table>
}
